<section class="register-user">
  <header>
    <h1>
      Create a new Account
    </h1>
    
    <div class="row">
      <div class="col-sm-6">
        <%= form_for @user do |f| %>
        <%= render "shared/errors", object: @user %>
        <div class="form-group">
          <%= f.text_field :username, class: "form-control", required: true, placeholder: "username" %>
        </div>
        
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", required: true, placeholder: "email" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, class: "form-control", required: true, minlength: 10, placeholder: "password" %>
        </div>

        <div class="form-group">
          <%= f.button "Register", class: "btn btn-success" %>
        </div>

        <% end %>
      </div>
    </div>
  </header>
</section>