<div class="navbar">
    <div class="img_logo">
        <%= image_tag("logo.png", :style =>'max-width: 150px; max-height: 50px;', :alt => "logo")%>
    </div>
   

    
    <%= link_to "Home", home_path(@news) %>
    <%= link_to "comments", comments_path(@news) %>
    <%= link_to "submit", submit_path(@news) %>

    <% unless logged_in? %>
        <%= link_to "signup", new_user_path %>
        <%= link_to "login", new_session_path %>
    <% end %>

    <% if logged_in? %>
        <%= link_to "logout", sessions_path, method: :delete %>
    <% end %>
</div>
      
      