<h3>Submit a news</h3>
<%= form_for @news do |f| %>
    <%= render "shared/errors", object: @news %>
    <div class="form-group">
        Start typing the news you want to share..
        <%= f.text_field :title, required: true, class: "form-control", placeholder: "title" %>
    </div>
    <div class="form-group">
       <%= f.text_field :source, class: "form-control", placeholder: "source(optional)" %>
    </div>
    <div class="form-group">
        <%= f.button :submit, class: "btn btn-success" %>
    </div>
<% end %>