<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <% if flash[:notice] %>
    <p class="alert alert-info">
      <%= flash[:notice] %>
    </p>
  <% end %>
  
<!-- MAIN NAVIGATION -->
<div class="wrapper">
    <%= render 'shared/layout'%>
</div>
<br><br>

<%= yield %>

<div class="wrapper">
    <%= render 'shared/footer'%>
</div>

</body>
</html>
